@model MVC_app2.Holiday

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HolidayView</title>
</head>
<body>
    <div> 
       

    </div>
</body>
</html>
